.chatPage {

    height: 100%
}


.form-group {

    margin-top: -25%;


}

.form-control {

    margin-bottom: 3%;


}

.btn-danger {

    margin-bottom: 3%
}

.text-white {

    font-family: Arial, Helvetica, sans-serif;


}