/* .chatPage {

    height: 10%
} */


/* .form-group {

    margin-top: -25%;


} */

.form-control {

    margin-bottom: 1%;

}

.btn-danger {

    margin-bottom: 3%
}

.text-white {

    font-family: Arial, Helvetica, sans-serif;


}

.vertical-scrollable>.row {
    position: absolute;
    top: 10%;
    bottom: 40%;
    left: 25%;
    width: 50%;
    overflow-y: scroll;
}