.logo {
    margin-top: 20%;
    width: 60%;
    height: 45%;
}

.loginFull {
    margin: 50px
}

.loginLeft {

    float: left;


}



.loginRight {

    float: right;
    border-left: 6px solid rgb(16, 83, 208);
    height: 75%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-bottom: 25%;


}

.loginRightContent {

    margin-left: 10%;

}

form {

    margin-top: 30%;

}