.logo {
    margin-top: 30%;
    width: 75%;
    height: 50%;
}

.loginFull {
    margin: 50px
}

.loginRight {


    border-left: 6px solid green;
    height: 75%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-bottom: 25%;
    ;

}

.loginRightContent {

    margin-left: 10%;

}

form {

    margin-top: 50%;

}